.appSelectionBox {
    position: absolute;
    background-color: #edf0f1;
    min-width: 256px;
    max-width: 256px;
    max-height: 40vh;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.appSelectionBox::-webkit-scrollbar {
    display: none;
}

.appSelectionToggleButton {
    cursor: pointer;
    margin-right: 20px;
    user-select: none;
}

