.appSelector {
    width: 45px;
    height: 45px;
}
.appSelectorButton {
    width: 45px;
    height: 45px;
    background: none;
    border: none;
}
.dropdown {
    position: absolute;
    top: 58px;
    width:300px;
    transform: translateX(-45%);
    background-color: red;
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow:hidden;
}
.menu-item{
    height: 50px;
    display:flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
}
.menu-item:hover {
    background-color: #525357;
}
