.DroneControlSettingsButton {
    width: 35px;
    height: 35px;
    position: absolute;

    right: 7em;
    top: 7.3em;
    transform: rotate(27deg);
    cursor: pointer;

}

.DroneControlSettingsButton:hover {

    transform: rotate(50deg);

}

.DroneControlBackButton {
    width: 35px;
    height: 35px;
    position: absolute;
    left: 7em;
    top: 7.3em;
    cursor: pointer;
}

.DroneControlBackButton:hover {
    transform: translateX(-1px);

}

.adminAccessInfo {
    position: absolute;
    right: 12em;
    top: 7.6em;
}

.droneMap {
    height: 100%;

}

.droneBatteryDiv {
    position: absolute;
    display:flex;
    align-items: center;
    right: 13em;
    top: 6.81em;

}

.droneBatteryIconPercentageLabel {
    margin-left: 10px;
    user-select: none;

}

.droneBatteryIcon {

    position: relative;
    border: 3px solid #333;
    width: 38px;
    height: 21px;
    padding: 2px;
    border-radius: 4px;
    margin: 15px 0;

}

.droneBatteryIcon:after {
    content: '';
    height: 13px;
    width: 3px;
    background: #333;
    display: block;
    position: absolute;
    top: 1px;
    left: -5px;
    border-radius: 4px 4px 0 0;
}


.droneBatteryIcon:before {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 1px solid #fff;
    border-radius: 2px;
}
.droneBatteryLevel {
    background: #30b455;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 100%;
    border-radius: 3px;
}

@media (max-width: 839px) {

    .droneBatteryDiv {
        display:flex;
        left:calc(50vw - 46px);
        right:unset;
        top: 8.5em;


    }

}