.DroneControlSettingsButton{
    width: 35px;
    height: 35px;
    position: absolute;

    right: 7em;
    top: 7.3em;
    transform: rotate(27deg);
    cursor: pointer;

}
.DroneControlSettingsButton:hover{

    transform: rotate(50deg);

}

.DroneControlBackButton {
    width: 35px;
    height: 35px;
    position: absolute;
    left: 7em;
    top: 7.3em;
    cursor: pointer;
}
.DroneControlBackButton:hover {
transform: translateX(-1px);

}

.adminAccessInfo{
    position: absolute;
    right: 12em;
    top: 7.6em;
}



