
.sectionWrapper {
  background-color: #131514;
  width: 100%;
max-width: 100%;
}

.headLineContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -70px;
  max-width: 100%;
  background-color: white;


}

.headLine {
  font-weight: 500;
  line-height: 1.2;
  color: #000;
  letter-spacing: -2px;
  margin-bottom: 20px;
}

.section {
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}

.sectionHeader {
  font-size: clamp(1.875rem,1.5893rem + 1.4286vw,2.75rem);
  line-height: 1.3;
  color: #fff;
  text-align: center;
  font-weight: 550;
  font-family: FSKoopman,Helvetica Neue,Helvetica,Lucida Grande,sans-serif;
  font-feature-settings: "liga","dlig","kern","onus";

}

.drone3dmodlefirstsection {
  width: 100%;
  height: 100%;
  background-color: #494949;
}

.sectionPart {
  width: 50vw;

  background-color: #131514;
  min-height: 50vh;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MissionSectionPart {

  width: 50vw;
  background-color: #131514;
  height: 70vh;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;

}

.missionGeneratorSpace {
  margin-top: 70px;
}

.sectionExplain {
  color: #fff;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 1.6em;
  font-size: 1.2rem;
}

.subheading {
  margin-bottom: 5px;
  font-size: 1.4rem;
  color: #000;
  letter-spacing: 0.2pt;
  max-width: 60vw;
  text-align: center;
}


.CenterSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.footnote {
  font-size: 0.75rem;
  margin-top: 0px;
  color: #fff;
  line-height: 1.6em;
}

.copyright {
  font-size: 0.75rem;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #fff;
  line-height: 1.6em;
}

.cloudSectionHeader {

  font-size: clamp(1.875rem,1.5893rem + 1.4286vw,2.75rem);
  line-height: 1.3;
  text-align: center;
  font-weight: 550;
  font-family: FSKoopman,Helvetica Neue,Helvetica,Lucida Grande,sans-serif;
  font-feature-settings: "liga","dlig","kern","onus";

  background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cloudSectionIMG {
  width: 70vw;
  height: 450px;
  background-color: #0088a9;
  margin-top: 30px;
}


.cloudSectionExplain {
  color: #fff;
  width: 80%;
  line-height: 1.6em;
  font-size: 1.2rem;
  margin-top: 50px;
}


.centerSectionExplain {
  color: #fff;
  width: 80%;
  line-height: 1.6em;
  font-size: 1.2rem;
  margin-top: 10px;
  text-align: center;
}

.uiexplainheadline {
  font-size: clamp(1.875rem,1.5893rem + 1.4286vw,2.75rem);
  line-height: 1.3;
  text-align: center;
  font-weight: 550;
  margin-top: 130px;
  font-family: FSKoopman,Helvetica Neue,Helvetica,Lucida Grande,sans-serif;
  font-feature-settings: "liga","dlig","kern","onus";

  background: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intelligentDroneHeadline {
  font-size: clamp(1.875rem,1.5893rem + 1.4286vw,2.75rem);
  line-height: 1.3;
  text-align: center;
  font-weight: 550;
  margin-top: 50px;
  font-family: FSKoopman,Helvetica Neue,Helvetica,Lucida Grande,sans-serif;
  font-feature-settings: "liga","dlig","kern","onus";

  background:  linear-gradient(to right, #43e97b 0%, #38f9d7 100%);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.accountSystemImg {
  width: 84%;
  border-radius: 5px;
  margin-left: -40px;
}

.missionGeneratorHeadline {
  font-size: clamp(1.875rem,1.5893rem + 1.4286vw,2.75rem);
  line-height: 1.3;
  text-align: center;
  font-weight: 550;

  margin-top: 100px;
  font-family: FSKoopman,Helvetica Neue,Helvetica,Lucida Grande,sans-serif;
  font-feature-settings: "liga","dlig","kern","onus";

  background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.SaveSectionImage {
  border-radius: 10px;
  margin-top: 30px;
  width: 50%;
  min-width: 400px;
}
.demoVideoSectionHeader {
  font-size: clamp(1.875rem,1.5893rem + 1.4286vw,2.75rem);
  line-height: 1.3;
  text-align: center;
  font-weight: 550;
  font-family: FSKoopman,Helvetica Neue,Helvetica,Lucida Grande,sans-serif;
  font-feature-settings: "liga","dlig","kern","onus";
  margin-top: 30px;
  background: linear-gradient(to right, #fa709a 0%, #fee140 100%);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.demoVideo {
  width: 70%;
  height: 450px;
  margin-top: 30px;
  border-radius: 15px;
  overflow: hidden;
}

.partnerSectionHeader {
  font-size: clamp(1.875rem,1.5893rem + 1.4286vw,2.75rem);
  line-height: 1.3;
  text-align: center;
  font-weight: 550;
  font-family: FSKoopman,Helvetica Neue,Helvetica,Lucida Grande,sans-serif;
  font-feature-settings: "liga","dlig","kern","onus";
  margin-top: 60px;
  background: linear-gradient(to left, #30cfd0 0%, #5d13ad 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ubloxLogo {
  width: 70%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.productwareLogo {
  width: 70%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.rohdeundschwarz {
  width: 70%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.formPersonalInformation {
  margin-top: 30px;
  margin-bottom: 30px;
}

.formInput {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.formTextarea {
  width: 100%;
  height: 180px;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  resize: none;
}

.formButton {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #0088a9;
  color: #fff;
  cursor: pointer;
}



.formButton:hover {
  background-color: #007799;
}

.formButton:active {
  background-color: #006688;

}
.contactForm {

  max-width: 80%;
  margin-bottom: 100px;

}

.aboutUsHeader {
  font-size: clamp(1.875rem,1.5893rem + 1.4286vw,2.75rem);
  line-height: 1.3;
  text-align: center;
  font-weight: 550;
  font-family: FSKoopman,Helvetica Neue,Helvetica,Lucida Grande,sans-serif;
  font-feature-settings: "liga","dlig","kern","onus";
  margin-top: 100px;
  background: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutUsSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 90px;

}

.aboutUseImage {
  width: 240px;
  height: 240px;
  background-color: #2ecc71;
  border-radius: 50%;
  margin-right: 100px;
}

.aboutUseText {
  color: #fff;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 1.6em;
  font-size: 1.1rem;
}

.aboutSign {

}

.footer {
  background-color:#131313;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;

}

.footerSection {

  display: flex;
  flex-direction: column;

}

.footerSectionHeadline {
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: 600;


}
.footerSectionElement {
  text-align: center;
  color: white;
  margin-bottom: 10px;
  font-size: 1.01em;
  cursor: pointer;

}

.seperator {
  width: 1px;
  height: 90%;
  background-color: #626161;
  margin-top: 10px;
  margin-bottom: 10px;


}

.footerWrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}