
.sectionWrapper {
  background-color: #131514;
  width: 100%;
max-width: 100%;
}

.headLineContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin-top: -70px;
  max-width: 100%;
  background-color: #131514;



}

.headLineWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}



.headLine {
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
  letter-spacing: -2px;
  margin-bottom: 20px;
}

.section {
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}

.sectionContentUnderneath {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

}

.sectionContentAbove {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

}

.sectionHeader {
  font-size: clamp(1.875rem,1.5893rem + 1.4286vw,2.75rem);
  line-height: 1.3;
  color: #fff;
  text-align: center;
  font-weight: 550;
  font-family: FSKoopman,Helvetica Neue,Helvetica,Lucida Grande,sans-serif;

}

model-viewer {
  flex-grow: 1; height: 100%; width: 100%;
  --poster-color: transparent;
}


.sectionPart {
  width: 50vw;

  background-color: #131514;
  min-height: 50vh;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionPartMobil {
  width: 100%;

  background-color: #131514;
  min-height: 30vh;
  text-align: start;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}



.MissionSectionPart {

  width: 50vw;
  background-color: #131514;
  height: 70vh;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;

}

.missionGeneratorSpace {
  margin-top: 70px;
}

.sectionExplain {
  color: #fff;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 1.6em;
  font-size: 1.2rem;
  text-align: justify;
}
.sectionExplainMobil {
  color: #fff;
  width: 95%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 1.6em;
  font-size: 1.2rem;
}

.subheading {
  margin-bottom: 5px;
  font-size: 1.4rem;
  color: #fff;
  letter-spacing: 0.2pt;
  max-width: 60vw;
  text-align: center;
}

.subheadingMargin {

  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.2pt;
  max-width: 60vw;
  text-align: center;
}

.scrollDownInteractionReminder {
  width: 24px;
  margin-top: 18px;
  margin-bottom: 30px;
}

.droneSectionIMG {
  border-radius: 10px;
  margin-top: 30px;
  width: 55%;
  min-width: 300px;
  transition: all 0.5s ease;
}

.droneSectionIMG:hover {
  transform: scale(1.1) rotate(2deg);
}


.firstScrollArrow {

  display: block;
  transform: rotate(45deg);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin: 1px 0 3px 4px;

  width: 16px;
  height: 16px;

  animation: scrollDown 1.1s infinite;
  animation-delay: 0.1s;
  animation-direction: alternate;

}
.secondScrollArrow {

  display: block;
  transform: rotate(45deg);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin: -6px 0 3px 4px;

  width: 16px;
  height: 16px;

  animation: scrollDown 1.1s infinite;
  animation-delay: 0.2s;
  animation-direction: alternate;


}

.thirdScrollArrow {

  display: block;
  transform: rotate(45deg);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin: -6px 0 3px 4px;

  width: 16px;
  height: 16px;

  animation: scrollDown 1.1s infinite;
  animation-delay: 0.3s;
  animation-direction: alternate;

}

@keyframes scrollDown{
  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

.CenterSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.footnote {
  font-size: 0.75rem;
  margin-top: 0px;
  color: #fff;
  line-height: 1.6em;
}

.copyright {
  font-size: 0.75rem;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #fff;
  line-height: 1.6em;
}

.cloudSectionHeader {

  font-size: clamp(1.875rem,1.5893rem + 1.4286vw,2.75rem);
  line-height: 1.3;
  text-align: center;
  font-weight: 550;
  font-family: FSKoopman,Helvetica Neue,Helvetica,Lucida Grande,sans-serif;
  font-feature-settings: "liga","dlig","kern","onus";

  background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 50px;
}

.cloudSectionIMG {
  width: 70vw;
  height: 450px;
  background-color: #0088a9;
  margin-top: 30px;
}






.centerSectionExplain {
  color: #fff;
  width: 80%;
  line-height: 1.6em;
  font-size: 1.2rem;
  margin-top: 25px;
  text-align: center;
}
.centerSectionExplainMobil {
  color: #fff;
  width: 95%;
  line-height: 1.6em;
  font-size: 1.2rem;
  margin-top: 25px;
  text-align: center;
}

.uiexplainheadline {
  font-size: clamp(1.875rem,1.5893rem + 1.4286vw,2.75rem);
  line-height: 1.3;
  text-align: center;
  font-weight: 550;
  margin-top: 130px;
  font-family: FSKoopman,Helvetica Neue,Helvetica,Lucida Grande,sans-serif;
  font-feature-settings: "liga","dlig","kern","onus";

  background: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intelligentDroneHeadline {
  font-size: clamp(1.875rem,1.5893rem + 1.4286vw,2.75rem);
  line-height: 1.3;
  text-align: center;
  font-weight: 550;
  margin-top: 50px;
  font-family: FSKoopman,Helvetica Neue,Helvetica,Lucida Grande,sans-serif;
  font-feature-settings: "liga","dlig","kern","onus";

  background:  linear-gradient(to right, #43e97b 0%, #38f9d7 100%);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cloudImg {
  width: 84%;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;

}
.cloudImg:hover {
  transform: scale(1.06) rotate(2deg);
}



.missionGeneratorHeadline {
  font-size: clamp(1.875rem,1.5893rem + 1.4286vw,2.75rem);
  line-height: 1.3;
  text-align: center;
  font-weight: 550;

  margin-top: 100px;
  font-family: FSKoopman,Helvetica Neue,Helvetica,Lucida Grande,sans-serif;
  font-feature-settings: "liga","dlig","kern","onus";

  background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.SaveSectionImage {
  border-radius: 10px;
  margin-top: 30px;
  width: 50%;
  min-width: 300px;
}
.demoVideoSectionHeader {
  font-size: clamp(1.875rem,1.5893rem + 1.4286vw,2.75rem);
  line-height: 1.3;
  text-align: center;
  font-weight: 550;
  font-family: FSKoopman,Helvetica Neue,Helvetica,Lucida Grande,sans-serif;
  font-feature-settings: "liga","dlig","kern","onus";
  margin-top: 30px;
  background: linear-gradient(to right, #fa709a 0%, #fee140 100%);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.demoVideo {
  width: 70%;
  height: fit-content;
  margin-top: 30px;
  border-radius: 15px;
  overflow: hidden;
}

.partnerSectionHeader {
  font-size: clamp(1.875rem,1.5893rem + 1.4286vw,2.75rem);
  line-height: 1.3;
  text-align: center;
  font-weight: 550;
  font-family: FSKoopman,Helvetica Neue,Helvetica,Lucida Grande,sans-serif;
  font-feature-settings: "liga","dlig","kern","onus";
  margin-top: 60px;
  background: linear-gradient(to left, #30cfd0 0%, #5d13ad 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ubloxLogo {
  width: 70%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  align-self: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.ubloxLogo:hover {
  transform: scale(1.06) rotate(2deg);
}

.productwareLogo {
  width: 70%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

}

.productwareLogo:hover {
  transform: scale(1.06) rotate(2deg);
}

.rohdeundschwarz {
  width: 70%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

}

.rohdeundschwarz:hover {
  transform: scale(1.06) rotate(2deg);
}

.formPersonalInformation {
  margin-top: 30px;
  margin-bottom: 30px;
}

.formInput {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.formTextarea {
  width: 100%;
  height: 180px;
  border-radius: 6px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  resize: none;
}

.formButton {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #0088a9;
  color: #fff;
  cursor: pointer;
}



.formButton:hover {
  background-color: #007799;
}

.formButton:active {
  background-color: #006688;

}
.contactForm {

  max-width: 80%;
  margin-bottom: 100px;
  min-width: 50%;

}

.aboutUsHeader {
  font-size: clamp(1.875rem,1.5893rem + 1.4286vw,2.75rem);
  line-height: 1.3;
  text-align: center;
  font-weight: 550;
  font-family: FSKoopman,Helvetica Neue,Helvetica,Lucida Grande,sans-serif;
  font-feature-settings: "liga","dlig","kern","onus";
  margin-top: 100px;
  background: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.shortDescriptionHeader {
  font-size: clamp(1.875rem,1.5893rem + 1.4286vw,2.75rem);
  line-height: 1.3;
  text-align: center;
  font-weight: 550;
  font-family: FSKoopman,Helvetica Neue,Helvetica,Lucida Grande,sans-serif;
  font-feature-settings: "liga","dlig","kern","onus";
  margin-top: 70px;
  background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutUsSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 90px;

}

.aboutUseImage {
  width: 426px;
  height: 240px;
  border-radius: 5%;
  margin-right: 100px;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  display: flex;

}

.aboutUsImageElement {


}



.aboutUsImageMobile {
  width: 90vw;
  border-radius: 5%;
  margin-bottom: 50px;
  overflow: hidden;
  display: flex;
}
.aboutUseTextMobile {
  color: #fff;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 1.6em;
  font-size: 1.1rem;
  text-align: center;
}

.aboutUseText {
  color: #fff;
  width: 50%;
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 1.6em;
  font-size: 1.1rem;
  text-align: justify;
}

.spacer {
  margin-bottom: 100px;
}

.aboutUsSectionMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  flex-direction: column;

  margin-top: 30px;
  margin-bottom: 90px;

}


.contactFormMessage {
  color: #fff;
  width: 80%;
  line-height: 1.6em;
  font-size: 1.2rem;
  margin-top: 25px;
  margin-bottom: 100px;
  text-align: center;
}

.shareContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 60px;
  width: 300px;


}

.whatsapp {
  color: white;
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: all 0.1s linear;
}

.whatsapp:hover {
    color: #25D366;
}

.linkedin {
  color: white;
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: all 0.1s linear;
}

.linkedin:hover {
    color: #0274b3;
}

.facebook {
  color: white;
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: all 0.1s linear;
}

.facebook:hover {
    color: #4867aa;
}

.twitter {
  color: white;
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: all 0.1s linear;
}

.twitter:hover {
    color: #1da1f2;
}

.mail {
  color: white;
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: all 0.1s linear;
}

.mail:hover {
    color: #d22121;
}

.footer {
  background-color:#131313;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;

}

.footerSection {

  display: flex;
  flex-direction: column;

}

.footerSectionHeadline {
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: 600;


}
.footerSectionElement {
  text-align: center;
  color: white;
  margin-bottom: 10px;
  font-size: 1.01em;
  cursor: pointer;

}

.seperator {
  width: 1px;
  height: 90%;
  background-color: #626161;
  margin-top: 10px;
  margin-bottom: 10px;


}

.footerWrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}