.DeviceSelectorItem {
   background-color: #ebebee;

    height: 18vh;
    max-height: 18vh;
    width: 17vw;
    max-width: 17vw;
    margin: 1.6vw;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    vertical-align:top;
}


.DeviceSelectorParentDiv {

    margin-top: 2vh;
    width: 81vw;
    max-width: 81vw;
    margin-left: 9.5vw;
    height: 80vh;
    max-height: 80vh;
    overflow-y: scroll;


}
.DeviceSelectorParentDiv::-webkit-scrollbar {
    display: none;
}

.DeviceSelectorItemName {

    font-size: 20px;
    align-self: flex-end;
    margin-bottom: 10px;

}

.DeviceSelectorLI {
    text-decoration: none;
    display: inline-block;
    list-style-type: none;

}

.DeviceSelectorItemImage {
    height: 60%;
    flex-basis: 100%;

    margin-top: 20px;
    position: relative;
}