.DeviceSelectorItem {
   background-color: #ebebee;

    height: 18vh;
    max-height: 18vh;
    width: 17vw;
    max-width: 17vw;
    margin: 1.6vw;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    vertical-align:top;

}

.DeviceSelectorItem:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.DeviceSelectorParentDiv {

    margin-top: 2vh;
    width: 81vw;
    max-width: 81vw;
    margin-left: 9.5vw;
    height: 80vh;
    max-height: 80vh;
    overflow-y: scroll;


}
.DeviceSelectorParentDiv::-webkit-scrollbar {
    display: none;
}
.DeviceSelectorUL {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;

}

.DeviceSelectorItemName {

    font-size: 20px;
    align-self: flex-end;
    margin-bottom: 10px;
    user-select: none;

}

.DeviceSelectorLI {
    text-decoration: none;
    display: inline-block;
    list-style-type: none;

}

.DeviceSelectorItemImage {
    height: 60%;
    flex-basis: 100%;

    margin-top: 20px;
    position: relative;
    user-select: none;
}

@media (max-width: 500px) and (orientation: portrait) {
    .DeviceSelectorItem {
        width: 70vw;
        max-width: 70vw;
        height: 22vh;
        max-height: 22vh;
    }

}
@media (max-height: 500px) and (orientation: landscape) {
    .DeviceSelectorItem {
        height: 30vh;
        max-height: 30vh;
        width: 35vw;
        max-width: 35vw;
    }
    .DeviceSelectorParentDiv {
        height: 54vh;
    }

}
