
.fileEntryImageContainer {

    width: 130px;
    pointer-events: none;
    user-select: none;

}

.selectedFile {

    background-color: rgba(0, 120, 215, 0.5) !important;

}

.fileEntryImage {

    width: 130px;
    margin-top: 10px;
    pointer-events: none;

}
.fileName {
    margin-top: 5px;
    color: #1b2025;
    pointer-events: none;
    user-select: none;


}

.fileEntry {
    display: flex;
    flex-direction: column;
    width: 176px;
    height: 171px;
    align-items: center;
    justify-content: center;
    margin: 4px;
    border-radius: 5%;
    cursor: pointer;
    transition: background-color 200ms;
    -webkit-user-drag: element;

}


.fileEntry:hover {
    background-color: #e0e0e0;
}