.moduleHeaderNavBarText {

    color: white;
    margin: auto;
    font-size: 30px;
    font-weight: bold;
    user-select: none;
    left: 50vw;
}

@media (max-width: 500px) and (orientation: portrait) {
    .moduleHeaderNavBarText {
        margin-right: 3vw;
        font-size: 17px;


    }

}