.totpAuth {
    margin-top: 30px;
    display: flex;
    width: 600px;
    justify-content: space-between;
    color: black;
    place-self: center;
    justify-self: center;
    align-self: center;

}

.headLine {
    color: black;
    margin-top: 10px;

}

.container {
    display: flex;
    place-self: center;
    width: 370px;
    flex-wrap: nowrap;
    justify-content: space-between;
}