
body {
    background-color: #f2f6fc;

}

*:not(body) {
    transition: background-color 0.15s linear;
    transition: color 0.15s linear;

}

.dark-body {
    background-color: #313131 ;
}

.dark-body > * h1:not(.ignoreDarkMode) {
    color: white !important;

}
.dark-body > * h4:not(.ignoreDarkMode) {
    color: white !important;

}
.dark-body > * label:not(.ignoreDarkMode) {
    color: white !important;

}


.dark-body >  #searchBar  {
    color: #ffffff !important;
    border: 1px solid  white !important;

}
.dark-body > * #DroneBatteryPercentageLabel  {
    color: #ffffff !important;

}
.dark-body > * #DroneBatteryIcon  {
    border: 3px solid #ffffff;
}

.dark-body > * #DroneBatteryIcon:after  {
    background: #fff;
}

.dark-body > * #HorizontalTabBarContainer {
    background-color: #5f6262;
}




.dark-body > * #HorizontalTabBarSlider {
    background-color: #989da6;
}

.dark-body > * #language-picker-select {
    color: white;
    background-color: #5f6262;
}









