.ChangeableTextFieldEditButton {

    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-top: 8px;
    margin-left: 15px;
    justify-self: center;
    position: fixed;
    transition: opacity linear 0.15s;
    opacity: 0.45;
}

.ChangeableTextFieldEditButton:hover {
    opacity: 0.95;

}

.ChangeableTextFieldText {
    margin-top: 10px;
    display:inline;
    justify-self: center;
    user-select: none;
    cursor: text;



}

.ChangeableTextFieldInput {

    font-size: 2em;
    font-weight: bold;
    min-width:60px!important;
    max-width:99.99%!important;
    transition: width 0.05s;
    text-align:center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border-color: black;
    border-radius: 10px;
    border-width: 2px;
}
.ChangeableTextFieldDiv {
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-top:10px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;

}