.loginBackground{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #10435e;
    position: absolute; top: 0; left: 0;
    width: 100vw;
    height: 100vh;
}
.signinform{
    min-width: 380px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    background-color: hsla(0, 0%, 10%, 0.75);
    text-align: center;
    border-radius: 3%;

}
.signinform h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    font-family: sans-serif;
}

.signinform p{
    color: white;

    font-weight: 500;
    margin-top: 10px;
    font-family: sans-serif;
}
.signinform input[type = "text"],.signinform input[type = "password"],.signinform input[type = "email"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 5px;
    transition: 0.25s;
}
.signinform input[type = "text"]:focus,.signinform input[type = "password"]:focus,.signinform input[type = "email"]:focus{
    width: 230px;
    border-color: #2ecc71;
}
.signinform button{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.signinform button:hover{
    background: #2ecc71;
}

.errorlable{
    color: tomato;
}


.staySignInLabel {
    color:white;
    margin-left: 10px;
}

